*{
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
  max-width: 700px;
  /* background-color: rgb(45, 44, 45); */
}
.App {
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 1%;
}
.test{
  width: 100%;
}
.flex{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
h1,h2,h3,h4{
  margin-top: 20px;
  margin-bottom: 20px;
}
p{
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn{
  width: 100%;
  margin-bottom: 30px;
}
.btnsub{
  background-color: #F50157;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 7%;
}
.flexIt{
  background-color: #F50157;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* width: 100%; */
  height: 30%;
  padding: 20px;
  margin-bottom: 30px;
}
input{
  margin-bottom: 20px;
}
.link{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;

}
.link:hover{
  color: rgb(198, 163, 163);
}
